# dependencies
node_modules/

# build output (VERY IMPORTANT)
build/
dist/

# media folders (your current problem source)
media/
shanepics/

# environment files
.env

# logs
*.log

# system files
.DS_Store
Thumbs.db